/* css here */
body {
  font-family: Helvetica;
  margin: 0;
}

li label {
  font-size: 14px;
  color: #424242;
  vertical-align: top;
  margin-left: 10px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
  display: block;
  padding: 14px 0;
}

input.answer[type="radio"] {
  padding: 0px 0px;
  margin-top: -4px;
  float: left;
  margin-right: 11px;
}

li {
  background: #FFFFFF;
  padding: 5px 10px;
  border-bottom: 1px solid #efefef;
  list-style: none;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
  height: 43px;
}

li:hover {
  background: #efefef;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.next, input[type="submit"] {
  cursor: pointer;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  background: #ff9609;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 1px 1px 4px #000;
  box-sizing: border-box;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.next:hover, input[type="submit"]:hover {
  background: #e97d05;
}

input[type="submit"] {
  border: none;
  width: 100%;
  background: #09ba22;
  /* box-shadow: none; */
  box-shadow: none;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
input[type="submit"]:hover {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
  background: #077616;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 5px 40px;
  max-width: 1300px;
  margin: auto;
  height: -webkit-fill-available;
  height: auto;
}

.container__title {
  color: #FFFFFF;
  font-size: 1.2em;
}

p.first-section, p.second-section, p.third-section {
  background: #215d96;
  padding: 12px;
  color: #fff;
  margin-bottom: 2px;
}

.title {
  color: #FFFFFF;
}

.title span {
  color: #215d96;
}

.hide {
  display: none;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

#score {
  min-height: 460px;
  background: #fff;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
  margin-bottom: 100px;
  padding-bottom: 25px;
}

.score__content {
  padding: 35px 5px;
  text-align: center;
  font-size: 1.3em;
  color: #215d96;
}

.h10 {
  height: 25px;
  border-radius: 50px;
}

:focus {
  outline: none !important;
}

.answer {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 5px solid #ccc;
  border-top-color: #bbb;
  border-left-color: #bbb;
  background: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.answer:checked {
  border: 5px solid #4099ff;
  background: #4099ffbf;
}

.ico-score {
  color: #215d96;
  font-size: 1.3em;
  font-weight: 400;
}

.ico-love {
  color: #ff0084;
}

.chart_0 {
  width: 5%;
  background: #ccc;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.chart_25 {
  width: 25%;
  background: red;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.chart_50 {
  width: 50%;
  background: orange;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.chart_75 {
  width: 75%;
  background: #65b971;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.chart_100 {
  width: 100%;
  background: #027913;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.grad {
  background: linear-gradient(#1a1b1b, #073c82);
}

.header {
  background: #215d96;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  color: #FFFFFF;
  padding: 3px;
  text-align: center;
  text-shadow: 0px 2px 1px #55c8fb;
}

.bar-top {
  width: 100%;
  height: 10px;
  background: #efefef;
}

.bar-top__progress {
  width: 0;
  height: 10px;
  background: #65b971;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.bar-top__10 {
  width: 10%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.bar-top__50 {
  width: 50%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.bar-top__75 {
  width: 75%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.bar-top__100 {
  width: 100%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.item-chart {
  width: 33.3%;
  float: left;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 15px;
}

.progress-chart-bar {
  background: #ccc;
}

.final-scores {
  text-align: center;
  padding-top: 15px;
}

.final-scores span {
    font-weight: 700;
    font-size: 22px;
    float: right;
    margin-top: -4px;
}

#clean-data {
  clear: both;
  padding: 10px;
  text-align: center;
  background: #424242;
  color: #efefef;
  margin: 11px;
  max-width: 130px;
  margin: auto;
  cursor: pointer;
  width: 50%;
  box-shadow: 1px 2px 4px #797979;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
#clean-data:hover {
  background: #215d96;
}

#congrats {
  clear: both;
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
  color: #ff9609;
}

.footer {
  text-align: center;
  color: #FFFFFF;
  background: #215d96;
  padding: 30px;
  margin-top: 30px;
}

@media only screen and (min-width: 800px) {
  .item-chart {
    width: 100%;
    float: left;
    height: auto !important;
    padding: 9px 100px;
    box-sizing: border-box;
    margin-top: -1px;
    border: 1px solid #efefef;
    border-left: 0;
    border-right: 0;
  }

  .progress-chart-bar {
    background: #ccc;
    float: right;
    width: 66%;
    text-align: left;
  }

  .final-scores {
    text-align: center;
    padding-top: 15px;
    float: left !important;
    width: 30%;
    text-align: left;
  }

  .h10 {
    height: 40px;
    border-radius: 0;
  }

}
@media only screen and (max-width: 928px) {
  .item-chart {
    width: 100%;
    height: 112px;
    margin-top: 0;
  }
  .final-scores span{
    float: none;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 5px 20px;
  }

  .title, .container__title {
    text-align: center;
  }

  input.answer[type="radio"] {
    padding: 12px 12px;
    margin-top: -9px;
  }
}
